
body {
    min-width: 768px;
    max-width: 970px;
}
.container {
    grid-template-columns: 60% 40%;
    grid-template-areas: 
        "nav aside"
        "section aside"
        "footer aside";   
}
.navbar__content {
    padding: 0px 0 0 10px; 
}
.navbar__content img {
    width: 60px;
}
.navbar__content ul {
    width: 450px;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.main-content {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}
.main-content  p:first-child{
    margin: 0 0 -14px 44px;

}
.main-content  h1{
    margin: 0 0 28px 0;
}
.main-content  p:last-child{
    width: 50%;
    font-size: 1.8rem;
}  
.footer {
    height: 120px;
}   
.footer div {
    width: 100px; 
}

.footer div img {
    width: 120px;
}
/* style de modal de spiderman */
.modal-content,
.modal2-content,
.modal3-content {
    background: white;
    width: 50%;
    height: 60%;
}   
.modal__content-closed,
.modal2__content-closed,
.modal3__content-closed {
    right: 10px;
    top: 10px;
}

/* .card {
    position: relative;
    width: 100%;
    
} */
.card { 
    position: absolute;
    width: 50%;
    height: 100%;
}
.modal-content button, 
.modal2-content button,
.modal3-content button {
    bottom: -40px;
}